* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#card {
    background-color: hsl(0, 0%, 100%);
}

body {
    min-height: 10vh;
    justify-content: center;
    align-items: stretch;
    font-size: 14px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
}

#h1 {
    font-family: Fraunces,'Times New Roman', Times, serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%).
}

button {
    background-color:hsl(158, 36%, 37%);
    font-family: Montserrat,'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 0.625rem 2rem;
    width: 100%;
    border: none;
    border-radius: 0.625rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

}

#Fraunces2 {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces,"Times New Roman",Times, serif;
    font-size: larger;
}

#Montserrat1 {
color: hsl(228, 12%, 48%);
}

#Montserrat2 {
color: hsl(228, 12%, 48%);
}

#Montserrat3 {
color: hsl(228, 12%, 48%);;
}

.fix {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.23rem;
}

.img {
    max-width: 100%;
    align-items: center;
    margin: auto;
}

.img,.fix {
    flex: 1 1 50%;
}

footer {
    margin-top: 1rem;
}

.attribution {
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    display: block;
    height: 767px;
    width: 726px;
}

