.card {
    background-color: hsl(0, 0%, 100%);
}

body {
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: hsl(30, 38%, 92%);
}

#h1 {
    font-family: Fraunces,'Times New Roman', Times, serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%).
}

button {
    background-color:hsl(158, 36%, 37%);
    font-family: Montserrat,'Times New Roman', Times, serif;
}

#Fraunces2 {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces,"Times New Roman",Times, serif;
    font-size: larger;
}

#Montserrat1 {
color: hsl(228, 12%, 48%);
}

#Montserrat2 {
color: hsl(228, 12%, 48%);
}

#Montserrat3 {
color: hsl(228, 12%, 48%);;
}

.fix {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
}

.img {
    align-items: center;
}

.img,.fix {
    flex: 1 1 50%;
}

footer {
    margin-top: 5rem;
}